body {
    background-color: #00FFFF;
}
.card {
    margin-top: 50px;
    border-radius: 15px;
}
.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}
.btn-instagram {
    background-color: #00CED1;
    color: white;
}
.btn-instagram:hover {
    background-color: #00BFFF;
}
